/*
Theme Name: Husserl
Theme URI: http://micahtillman.com/
Description: A text-centric theme fit for a philosopher king.
Version: 1.0
Author: Ruth Tillman
URI: http://ruthtillman.com
License: GNU General Public License
License URI: license.txt
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather);

* {
	margin: 0;
	padding: 0;
/*	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

html, body {
	font-family: 'Merriweather', serif;
	font-size: 14pt;
	color: #2D1304;
}

.container {
	padding-top: 60px;
}

#contentarea {
	width: 75%;
	margin: 0 auto;
}

.home #contentarea {
	width: 100%;
}

.centerdiv {
	margin-right: 12.5%;
	margin-left: 12.5%;
}

/* Navbar */

.navbar-default {
	background-color: #eae7e5;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: #2D1304;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #fcfcfc;
}

.dropdown-menu {
	font-size: 15px;
}

/* Headers */

.headline {
	font-weight: 700;
}

h3.headline {
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #2D1304;
}

h1.cv, h2.cv, h3.cv, h4.cv, h5.cv, h6.cv {
	text-align: center;
}

/* In-entry styling */

p.aligncenter {
	text-align: center;
}

p.alignright {
	float: right;
	clear: both;
}

p.alignleft {
	float: left;
	clear: both;
}

p.indent60 {
	padding-left: 60px;
}

p.indent90 {
	padding-left: 90px;
}

p.indent100 {
	padding-left: 100px;
}

p.indent120 {
	padding-left: 120px;
}

hr.cv {
	height: 2px;
	width: 20px;
	text-align: center;
}

.entry ol, .entry ul {
	margin:0 0 1.2em 1.2em;
}

.entry li {
	padding-bottom: 5px;
}

.blog .post {
	margin-bottom: 30px;
}

.older {
	float: left;
}

.newer {
	float: right;
}

.inlinesearch {
	clear: both;
}

/* Images */

img.center, img.centered, img.aligncenter, .entry div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
}



img.left, img.alignleft, .entry div.alignleft {
	float: left;
	display: inline;
	padding: 4px;
	margin: 0 10px 6px 0;
}


img.right, img.alignright, .entry div.alignright {
	float: right;
	display: inline;
	padding: 4px;
	margin: 0 0 6px 4px;
}

/* Comments */

.navigation, .nocomments {
	font-size: 12pt;
	padding: 4px 0;
	margin: 4px 0;
}

.navigation, .postnav {
	clear: both;
}

.commentlist {
	padding: 0;
	margin: 15px 0;
	text-align: justify;
	border-top: 1px solid #9f9f9f;
}

.commentlist li {
	margin: 0px;
	padding: 10px 20px;
	list-style: none;
}

.commentlist cite {
	font-style: normal;
}

.commentlist p {
	text-transform: none;
	font-size: 11pt;
	line-height: 1.5em;
	margin: 10px 5px 10px 0;
}

.vcard, .comment-meta {
	font-size: 11.5pt;
}

.reply {
	padding: 0 20px 5px 0;
	text-align:right
}

.comment_time, .comment_edit, .comment_num {
	font-size: 11pt;
}

.comment_time {
	padding-left: 10px;
}

.comment_edit a {
	color: #80060D;
}

.avatar {
	float: right;
	border: none;
	padding: 5px 5px 5px 8px;
}

.authorlink, .authorlink a {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.comment_text {
	padding-top: 2px;
}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
}

#comments {
	font-size: 12pt;
	font-weight: bold;
	margin-left: 20px;
}

#respond .comment-form-comment label {
	vertical-align:top;
}

#commentform textarea {
	width: 502px;
	padding:2px;
	margin-left: 5px;
}

.comment-meta a {
	color: #3f3f3f;
}

input#author, input#email, input#url {
	margin-left: 5px;
}

#submit {
	margin: 0 0 0 10px;
	float: left;
}

.even {
	margin: 0;
	padding: 10px;
	background: #fcfcfc;
}
.bypostauthor {
	background: #f6f9fb;
}

.bypostauthor a {
	color: #265986;
}

#commentform p {
	margin: 5px 0;
}



.logged_in, .comment_input, .log_in {
	font-size: 12pt;
}

#respond {
	font-size: 12pt;
	margin-left: 30px;
	margin-bottom: 30px;
}


.depth-1 {
	border-bottom: 1px solid #9f9f9f;
}



.commentlist li .depth-2 {
	margin: 0 0 10px 10px;
	padding-left: 5px;
	border: 1px solid #f5f5f5;
}

.form-submit #submit {
	background: #f5f5f5;
	color: #3f3f3f;
	border: 1px solid #9f9f9f;
	font-size: 12pt;
}



#commentform input {
	border: 1px solid #9f9f9f;
}


/* Footer */

#footer {
	padding: 30px 0 15px;
	text-align: right;
	font-size: 10pt;
}

/* Additional */

.displaynone {
	display: none;
}

.thepostauthor {
	padding: 30px 15px;
	background: #fcfcfc;
	border: 1px solid #f3f3f3;
}

.thepostauthor .avatar {
	float: left;
	margin: 10px;
}

.thepostauthor h4 {
	font-size: 15pt;
}